[submodule "vendor/github.com/aryann/difflib"]
	path = vendor/github.com/aryann/difflib
	url = http://github.com/aryann/difflib
[submodule "vendor/github.com/davecgh/go-spew"]
	path = vendor/github.com/davecgh/go-spew
	url = http://github.com/davecgh/go-spew
[submodule "vendor/github.com/fatih/color"]
	path = vendor/github.com/fatih/color
	url = http://github.com/fatih/color
[submodule "vendor/github.com/go-sql-driver/mysql"]
	path = vendor/github.com/go-sql-driver/mysql
	url = http://github.com/go-sql-driver/mysql
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = http://github.com/gorilla/mux
[submodule "vendor/github.com/gorilla/context"]
	path = vendor/github.com/gorilla/context
	url = http://github.com/gorilla/context
[submodule "vendor/github.com/mattn/go-colorable"]
	path = vendor/github.com/mattn/go-colorable
	url = http://github.com/mattn/go-colorable
[submodule "vendor/github.com/spf13/afero"]
	path = vendor/github.com/spf13/afero
	url = http://github.com/spf13/afero
[submodule "vendor/github.com/urfave/cli"]
	path = vendor/github.com/urfave/cli
	url = http://github.com/urfave/cli
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = http://gopkg.in/yaml.v2
[submodule "vendor/gopkg.in/DATA-DOG/go-sqlmock.v1"]
	path = vendor/gopkg.in/DATA-DOG/go-sqlmock.v1
	url = http://gopkg.in/DATA-DOG/go-sqlmock.v1
[submodule "vendor/github.com/mattn/go-isatty"]
	path = vendor/github.com/mattn/go-isatty
	url = http://github.com/mattn/go-isatty
[submodule "vendor/github.com/go-gorp/gorp"]
	path = vendor/github.com/go-gorp/gorp
	url = http://github.com/go-gorp/gorp
